
<main class="mt-5">
    <div class="d-flex justify-content-center align-items-center gap-5 mb-5">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <p class="p-0 m-0 text-white" style="line-height: 90px; font-size: 100px;">Global</p>
            <p class="p-0 m-0 text-white" style=" line-height: 90px; font-size: 100px;">Poverty</p>
        </div>
        <div class="earth"></div>
    </div>
    <div class="box-text">
        <h1 class="text-center">
            Lorem Ipsum is simply dummy text of the printing
            and typesetting industry. Lorem Ipsum has been
            type and scrambled it to make a type specimen book.</h1>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <div class="Card">
            <div class="CircleChart">
                <div class="value-container">
                    <p class="valueData">
                        XXX.XXX.XXX
                    </p>
                </div>
            </div>
            <div>
                <h3 style="max-width:12em;">Peple in the world living in extreme poverty</h3>
            </div>
        </div>
        <div>
            @* <iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" tabindex="-1" aria-hidden="true"
                id="_hjRemoteVarsFrame" src="https://vars.hotjar.com/box-5e66f98b4ee957db209dc6f63e3d59dd.html"
                style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important;
                pointer-events: none !important;"></iframe> *@
            @* <iframe id="_hjSafeContext_16944363" title="_hjSafeContext" tabindex="-1" aria-hidden="true"
                src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0
                !important; pointer-events: none !important;"></iframe> *@
        </div>
        @* <iframe id="style" title='People who died from hunger' *@
        @* src='https://www.theworldcounts.com/embeds/counters/2?background'></iframe> *@
        @* </div> *@
        <!--chart start-->
        <div>
            <div class="chart">
                <ul class="numbers">
                    <li><span>100%</span></li>
                    <li><span>50%</span></li>
                    <li><span>0%</span></li>
                </ul>
                <ul class="bars">
                    <h5 class="text-center">List of countries without Healthcare</h5>
                    <li>
                        <div class="bar" data-percentage="50"></div><span>South Africa</span>
                    </li>
                    <li>
                        <div class="bar" data-percentage="30"></div><span> Iran</span>
                    </li>
                    <li>
                        <div class="bar" data-percentage="60"></div><span>Egypt</span>
                    </li>
                    <li>
                        <div class="bar" data-percentage="100"></div><span>Nigeria</span>
                    </li>
                    <li>
                        <div class="bar" data-percentage="80"></div><span>Pakistan</span>
                    </li>
                    <li>
                        <div class="bar" data-percentage="80"></div><span>Afghanistan</span>
                    </li>
                    <li>
                        <div class="bar" data-percentage="80"></div><span>Yemen</span>
                    </li>
                    <li>
                        <div class="bar" data-percentage="80"></div><span>Syria</span>
                    </li>
                </ul>
                <div style="display: flex; justify-content:center; margin-top:3rem; gap:22px; align-self: center;">
                    <div>
                        <div class="" style="display:flex; justify-content:center; width: 100px; height: 100px;">
                            <img src="../img/whiteIcon.png" alt="icons">
                            <img src="../img/whiteIcon.png" alt="icons">
                            <img src="../img/whiteIcon.png" alt="icons">
                            @* <img src="../img/blueIcon.png" alt="icons"> *@
                        </div>
                        <div class="d-flex justify-content-around" style="width: 100px; height: 100px;"">
                        <img src=" ../img/whiteIcon.png" alt="icons">
                            <img src="../img/whiteIcon.png" alt="icons">
                            <img src="../img/whiteIcon.png" alt="icons">
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between">
                        <h1>
                            <span class="font1outOf6">1</span>
                            <span style="color:white;">in</span>
                            <span class="font1outOf6">6</span>
                        </h1>
                    </div>
                </div>
                <h6 style="color: white;  text-align: justify; -moz-text-align-last: center;text-align-last: center;">
                    children in the U.S.live in poverty</h6>
                <!--chart end-->
            </div>
        
        </div>
    </div>
    <div>
        <div>@await Html.PartialAsync("_map")</div>
    </div>
    
<script src="~/js/data.js"></script>

<script>
countriesLoop();

</script>

</main>
