<main>
    <div class="d-flex mt-5 justify-content-center">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <p style="height: fit-content; width: fit-content; font-size: 100px;
            color: white;font-family: system-ui,
            Roboto, Cantarell, sans-serif; padding: 0; margin: 0; display:flex;">
                Global
            </p>
            <p style=" height: fit-content; width: fit-content;font-size: 100px; 
                color: white;font-family: 
                system-ui, Roboto, Cantarell, sans-serif;
                padding: 0; margin: 0; display:flex;">
                Poverty</p>
        </div>
        <div class="earth"></div>
    </div>
    <div class="box-text">
        <h1 class="text-center">
            About 9.2% of the world, or 689 million people, 
            live in extreme poverty on less than $1.90 a day, 
            according to the World Bank.</h1>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <div class="Card">
            <div class="CircleChart">
                <div class="value-container">
                    <p class="valueData">
                        XXX.XXX.XXX
                        </p>
                </div>
            </div>
            <div>
                <h3 style="max-width:12em;">People in the world living in extreme poverty</h3>
            </div>
        </div>
        @* <iframe id="style" title='People who died from hunger'
            src='https://www.theworldcounts.com/embeds/counters/2?background'></iframe> *@
        @* </div> *@
        <!--chart start-->
        <div>
            <div class="chart">
                <ul class="numbers">
                    <li><span>100%</span></li>
                    <li><span>50%</span></li>
                    <li><span>0%</span></li>
                </ul>
                <ul class="bars">
                    <li>
                        <div class="bar" data-percentage="50"></div><span>Option 01</span>
                    </li>
                    <li>
                        <div class="bar" data-percentage="30"></div><span>Option 02</span>
                    </li>
                    <li>
                        <div class="bar" data-percentage="60"></div><span>Option 03</span>
                    </li>
                    <li>
                        <div class="bar" data-percentage="100"></div><span>Option 04</span>
                    </li>
                    <li>
                        <div class="bar" data-percentage="80"></div><span>Option 05</span>
                    </li>
                </ul>
                <div style="display: flex; justify-content:center; margin-top:3rem; gap:22px; align-self: center;">
                    <div>
                        <div class="" style="display:flex; justify-content:center; width: 100px; height: 100px;">
                            <img src="../img/whiteIcon.png" alt="icons">
                            <img src="../img/whiteIcon.png" alt="icons">
                            <img src="../img/whiteIcon.png" alt="icons">
                            @* <img src="../img/blueIcon.png" alt="icons"> *@
                        </div>
                        <div class="d-flex justify-content-around" style="width: 100px; height: 100px;"">
                        <img src=" ../img/whiteIcon.png" alt="icons">
                            <img src="../img/whiteIcon.png" alt="icons">
                            <img src="../img/whiteIcon.png" alt="icons">
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between">
                        <h1>
                            <span class="font1outOf6">1</span>
                            <span style="color:white;">in</span>
                            <span class="font1outOf6">6</span>
                        </h1>
                    </div>
                </div>
                <h6 style="color: white;  text-align: justify; -moz-text-align-last: center;text-align-last: center;">
                    children in the U.S.live in poverty</h6>
                <!--chart end-->
            </div>
        </div>
    </div>
    <div>
        <div>@await Html.PartialAsync("_map")</div>
    </div>

    <h1 class="text-center" style="color: white;">Gallery Facts</h1>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../img/picone.jpg" class="d-block w-100" alt="picone">
            <div class="carousel-caption d-none d-md-block">
                <p style="background-color: black;">The international poverty line, currently set at $1.90 a day, 
                is the universal standard for measuring global poverty. 
                This line helps measure the number of people living in extreme poverty 
                and helps compare poverty levels between countries.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../img/pictwo.jpeg" class="d-block w-100" alt="pictwo">
            <div class="carousel-caption d-none d-md-block">
                <p style="background-color: black;">By 2030, an estimated 67% of the world’s poor will live in fragile contexts.
                    About 70% of people older than 15 who live in extreme poverty have no
                    schooling or only some basic education.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../img/picthree.webp" class="d-block w-100" alt="picthree">
            <div class="carousel-caption d-none d-md-block">
                <p style="background-color: black;">In the United States, 10.5% of the population — 34 million people — live in poverty as of 2019. 
                    For an individual in the U.S., the poverty line is $12,880 a year, or about 
                    $35.28 per day..</p>
            </div> 
        </div>
        <div class="carousel-item">
            <img src="../img/picfour.jpg" class="d-block w-100" alt="picfour">
            <div class="carousel-caption d-none d-md-block">
                <p style="background-color: black;">The root causes of poverty aren’t only a lack of access to basic necessities of 
                    life like water, food, shelter, education, or healthcare. Inequities including gender or ethnic 
                    discrimination, poor governance, conflict, exploitation,
                    and domestic violence also cause poverty</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../img/picfive.jpg" class="d-block w-100" alt="picfive">
            <div class="carousel-caption d-none d-md-block">
                <p style="background-color: black;">AIDS, malaria, starvation, and 
                    other deadly diseases are common. 
                    Many children die before reaching adolescence, 
                    and many adults die before reaching what in the richest 
                    nations would be considered middle age.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

</main>
